{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template
    --}} {{!-- Main --}} <main id="main">

    {{!-- Posts --}}
    <div class="posts">

        {{#foreach posts}}
        <article class="main-article">
            <header class="main-container main-container--content">
                <h2 class="main-content main-content--headline"><a href="{{url}}" tabindex="-1">{{{title}}}</a></h2>
                <div class="main-content--container">
                    <p class="main-content--description">{{excerpt words="33"}}</p>
                    <a href="{{url}}" class="button main-content main-content--button">Mehr</a>
                </div>
            </header>
            
            <div class="main-container main-container--thumbnail">
                {{#if feature_image}}
                <div class="main-thumbnail">
                    <img class="main-thumbnail--image"
                        src="{{img_url feature_image size=" xl"}}" srcset="{{img_url feature_image size=" s"}} 300w,
                        {{img_url feature_image size="sm" }} 400w, {{img_url feature_image size="m" }} 500w, {{img_url
                        feature_image size="xm" }} 600w, {{img_url feature_image size="xxm" }} 700w, {{img_url
                        feature_image size="xxxm" }} 800w, {{img_url feature_image size="l" }} 900w, {{img_url
                        feature_image size="xl" }} 1000w, {{img_url feature_image size="xxl" }} 1200w, {{img_url
                        feature_image size="xxxl" }} 1350w, {{img_url feature_image size="xxxxl" }} 1600w" sizes="(min-width: 1680px) 1500px,
                    (min-width: 1280px) 1100px,
                    (min-width: 480px) 94vw,
                    100vw" alt="{{title}}" />
                </div>               
                {{/if}}
            </div>
            <div class="main-container main-container--shadow"></div>
        </article>
        {{/foreach}}

    </div>
    {{!-- Pagination --}}
</main>